@import "../variables.scss";

main {
    padding: 0px 2%;
    background-color: $colors-bg-secondary;
}

.nav {
    
    height: 64px;
    position: sticky;
    background-color: $colors-nav-1;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.25);

    .nav-item {
        span {
            padding: .5rem 1rem;
        }
        .nav-link {
            color: $colors-link;
            font-weight: 600;
        }
    }
}